.git
.github
.vscode
node_modules
tmp
dist
.env
.env.*
!.env.example
!.env.sample
packages/*/node_modules
packages/*/dist
packages/client/tsconfig.server.tsbuildinfo
*.log
*.tsbuildinfo
Thumbs.db
.DS_Store
