# Local development / docker-compose template
NO_SSR=true
CLIENT_PORT=3000
SERVER_PORT=3001
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432
EXTERNAL_SERVER_URL=http://localhost:3001
INTERNAL_SERVER_URL=http://server:3001
APP_DOMAIN=nanosoft-battleship-57.ya-praktikum.tech
YANDEX_API_URL=https://ya-praktikum.tech/api/v2